[Desktop Entry]
Name=Vicky
GenericName=Vicky
Comment=Vicky converts video files to sound files
Comment[en_US]=Vicky converts video files to sound files
Comment[en_GB]=Vicky converts video files to sound files
Comment[pt]=Vicky converte ficheiros de video para ficheiros de som
Comment[pt_BR]=Vicky converte ficheiros de video para ficheiros de som
Exec=vicky
Icon=vicky
Terminal=False
Type=Application
Categories=System;
